@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
}

.body {
  --background-image: url("https://images.unsplash.com/photo-1660491291397-e81c21c1d554?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80");
  --opacity: 0.8;
  isolation: isolate;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.body::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: var(--opacity);
}

.search {
  margin-top: 45px;
  padding: 3%;
  z-index: 0;
  width: 60%;
  height: 40px;
  font-weight: Medium 500;
  position: relative;
  top: 20%;
}


form {
  width: 100%;
  height: 110%;
  background-color: #95BAFF;
  font-size: 100%;
}

input {
  border: none;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 14%;
  left: 0.8%;
  padding: 2%;
  box-sizing: border-box;
  z-index: 2;
  font-size: 70%;
  font-family: 'Open Sans', sans-serif;
}

input::placeholder {
  font-size: 100%;
  
}

/* Results */

.results {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  box-sizing: border-box;
  gap: 20%;
  position: relative;
  top: 20%;
}

.song-container {
  width: 100%;
  height: auto;
  
}

.song-container > div:first-child {
  background-color: #D84343;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.song-container > div:nth-child(2) {
  background-color: #F3C8C8 ;
  position: relative;
  z-index: 1;
  bottom: 115%;
  right: 0.8%;
  padding: 3%;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-container p {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) and (max-width: 991px) {

  .search {
    height: 45px;
  }
  form {
    font-size: 24px;
  }

  .song-container p {
    font-size: 14px;
  }

  .song-container {
    width: 100%;
    height: 100%;
    padding: 1%;
  }
  
  .song-container > div:first-child {
    width: 100%;
    height: 50%;
    background-color: #D84343;
  }
  
  .song-container > div:nth-child(2) {
    padding: 2%;
    box-sizing: border-box;
    height: 50%;
    bottom: 58%;
    right: 1%;
  }

  a {
    width: 15%;
    height: 100%;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  
  .search {
    margin-top: 5%;
    height: 5%;
    width: 25%;
    padding: 0;
    top: 2%;
  }
  
  
  form {
    width: 100%;
    height: 90%;
  }
  
  input {
    font-size: 16px;
  }

  input::placeholder {
    font-size: 80%;
  }

  /* Results */

  .results {
    max-width: 60%;
    height: 30%;
    top: 2%
  }

  .song-container p {
    font-size: 100%;
  }

  .song-container {
    width: 100%;
    height: 75%;
    padding: 0;
    padding: 1%;
  }
  
  .song-container > div:first-child {
    width: 100%;
    height: 50%;
    background-color: #D84343;
  }
  
  .song-container > div:nth-child(2) {
    padding: 2%;
    box-sizing: border-box;
    height: 50%;
    bottom: 58%;
    right: 0.8%;
  }
  
  a {
    width: 5%;
    height: 200%;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  img {
    width: 20%;
  }

}

@media (min-width: 1200px) {

  .search {
    top: 2%;
    background-color: #95BAFF;
    padding: 0;
    height: 50px;
    width: 40%;
  }

  form {
    width: 100%;
    height: 90%;
  }
  
  input {
    font-size: 16px;
    width: 100%;
    bottom: 10%;
    height: 100%;
  }

  input::placeholder {
    font-size: 80%;
  }

  .results {
    top: 2%;
    width: 70%;
    padding: 0;
  }
  
  .song-container p {
    font-size: 100%;
  }

  .song-container {
    width: 80%;
    height: 120%;
    padding: 0;
    padding: 1%;
  }
  
  .song-container > div:first-child {
    width: 100%;
    height: 60%;
    background-color: #D84343;
  }
  
  .song-container > div:nth-child(2) {
    padding: 2%;
    box-sizing: border-box;
    height: 60%;
    bottom: 70%;
    right: 0.7%;
  }
  
  a {
    width: 5%;
    height: 200%;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  img {
    width: 20%;
  }
}

